doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Assignment2-Hemachandra

    meta(name="description", content="Hhemachandra")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  body

    header
      h1 Real Time Web Application
    div.container
      h1 Chat Room
        div.messages
        div.dataInput
          div.sec
            Label Username:
            input#username(type="text" )
          div.sec   
            Label Location : 
            input#location(type="text")
          div.sec    
            Label Message :  
            textarea#text1(type="text" )
          div.sec      
            button#but(type="submit" name="Send" value="hema").Be SEND MESSAGE
    Footer 
      h3 Designed and Developed by Hemachandra
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")

    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")

    script(type="text/javascript", src="assets/scripts/main.js")
